<button class="btn btn-danger" style="width:100px" (click)="addUser()"> Add User</button>
<table #dataTable class="display" style="width:100%">
  <!-- <table>
    <tbody>
      <tr *ngFor="let user of tableData">
        <td class="hidden"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-success" (click)="deleteUser(user)"> Delete</button>
          <button class="btn btn-success" (click)="editUser(user)">
            Edit</button>
        </td>
      </tr>
    </tbody>
  </table> -->
</table>
